
/* top level variables */
:root {
    --golden-ratio: 1.61803398875;
    --top-level-font: 53px;
    --top-level-dimension: calc(var(--top-level-font) * var(--golden-ratio) * var(--golden-ratio))
}

/* content is the top-level div */
.content {
    position: relative;
    margin-left: 400px;
    margin-right: 50px;
    margin-top: 50px;
    /* top: 50%; */
    
    /* transform: translateX(-50%); */
    scroll-behavior: smooth;
}

/* main block CSS */
.main_block {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #bf5700;
    height: 100%;
    box-sizing: border-box;
} 

.main_block a:link {
    color: white;
    font-style: italic;
    text-decoration: none;
}
.main_block a:visited {
    color: white;
    font-style: italic;
    text-decoration: none;
}

.main_block h1 {
    text-align: left;
    color: white;
    font-size: var(--top-level-font);
    font-family: 'Alegreya', 'Times New Roman';
    font-weight: normal;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.main_block h2 {
    text-align: center;
    color: white;
    font-family: 'Times New Roman';
    font-size: calc(var(--top-level-font) / var(--golden-ratio));
    font-weight: normal;
    margin-left: 10px;

}
.main_block h3 {
    text-align: center;
    color: white;
    font-family: 'Times New Roman';
    font-size: calc(calc(var(--top-level-font) / var(--golden-ratio) / var(--golden-ratio)));
    font-weight: normal;
    margin-left: 10px;
}

/*nav bar styling */

ul {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
}
.main_nav > ul > .active > a {
    color: black;
    background-color: black;
}


.main_nav{
    text-align: center;
    background-color: #F28A33; /*lightened burnt orange 10%*/
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0px;
}

.content-item {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding-top: calc(var(--top-level-dimension));
    padding-bottom: calc(var(--top-level-dimension) * var(--golden-ratio) * var(--golden-ratio));
}

/* projects CSS */
.projects {
    /* position: relative; */
    
}

.projects h1{
    color: black;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: var(--top-level-font);
    font-weight: normal;
}

.projects h2{
    color: black;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: calc(var(--top-level-font) / var(--golden-ratio));
    font-weight: normal;
}

.projects h3{
    color: black;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: calc(calc(var(--top-level-font) / var(--golden-ratio) / var(--golden-ratio)));
    font-weight: normal;
}
.projects a:link{
    color: #0432ff;
    text-decoration: none;
    font-style: italic;
}

.porfolio a:visited{
    color: #0432ff;
    text-decoration: none;
    font-style: italic;
}

/* project styling */
.project {
    position: relative;
    text-align: center;
    /* padding-left: var(--top-level-dimension); */
}
.project h1{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: calc(var(--top-level-font) / var(--golden-ratio));
}
.project p{
    font-style: 'Times New Roman';
    text-align: left;
    text-indent: 4ch;
    padding-left: calc(var(--top-level-dimension) / var(--golden-ratio));
    padding-right: calc(var(--top-level-dimension) / var(--golden-ratio));
}